<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tysj.dao.GuestOpreationMapper">
    <insert id="saveGuestInformation" parameterType="com.tysj.domain.GuestInformation">
        INSERT INTO guestinformation(tableNumber,guestName,guestPhone,remarks,state,createTime,preTableTime,operator)
        VALUES (#{tableNumber},#{guestName},#{guestPhone},#{remarks},#{state},#{createTime},#{preTableTime},#{operator})
    </insert>

    <update id="updateGuestInformation" parameterType="com.tysj.domain.GuestInformation">
        UPDATE guestinformation
        <set>
            <if test="tableNumber!=null and tableNumber !=''">
                tableNumber=#{tableNumber},
            </if>
            <if test="guestName!=null and guestName !=''">
                guestName=#{guestName},
            </if>
            <if test="guestPhone!=null and guestPhone !=''">
                guestPhone =#{guestPhone},
            </if>
            <if test="remarks!=null and remarks !=''">
                remarks =#{remarks},
            </if>
            <if test="state!=null and state !=''">
                state =#{state},
            </if>
            <if test="createTime!=null and createTime !=''">
                createTime =#{createTime},
            </if>
            <if test="preTableTime!=null and preTableTime !=''">
                preTableTime =#{preTableTime},
            </if>
            <if test="operator!=null and operator !=''">
                operator =#{operator}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="deleteGuestInformation" parameterType="com.tysj.domain.GuestInformation">
        UPDATE guestinformation
        <set>
            state=0
        </set>
        <where>
            <if test="id!=null and id!=''">
                AND id =#{id}
            </if>
            <if test="tableNumber!=null and tableNumber!=''">
                AND tableNumber=#{tableNumber}
            </if>
            <if test="guestName!=null and guestName!=''">
                AND guestName=#{guestName}
            </if>
            <if test="guestPhone!=null and guestPhone !=''">
                AND guestPhone =#{guestPhone}
            </if>
            AND state=1
        </where>
    </update>

    <select id="queryGuestInformations" parameterType="com.tysj.domain.GuestInformation"
            resultType="com.tysj.domain.GuestInformation">
        SELECT * FROM guestinformation WHERE state=1
    </select>

    <select id="queryIdGuestInformation" parameterType="com.tysj.domain.GuestInformation"
            resultType="com.tysj.domain.GuestInformation">
        SELECT * FROM guestinformation WHERE id=#{id} AND state=1
    </select>

</mapper>